@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary: #1E4CA1;
  --secondary: #82C971;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  padding: 8px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  margin: 5px 0;
}

p {
  font-family: 'Outfit', sans-serif;
  margin: 5px 0;
}

.flex { display: flex; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.flex-col { flex-direction: column; }
.my-10 { margin-top: 10px; margin-bottom: 10px; }
.my-30 { margin-top: 30px; margin-bottom: 30px; }

.secondary { color: var(--secondary); }

@media screen and (max-width: 480px) {
  .flex-col-mobile {
    flex-direction: column;
  }

  .flex-col-mobile-reverse {
    flex-direction: column-reverse;
  }
}

button:disabled {
  opacity: 0.7;
}